numpy==1.24.3
tensorflow-cpu==2.10.0
tensorflow-directml-plugin
pandas==1.5.3
matplotlib==3.7.0
python-chess==1.999
pygame==2.6.1
pygame-popup==0.9.0
tqdm==4.66.0
typing_extensions==4.8.0
graphviz==0.20.1
python-dotenv==1.0.0